footer{
    margin-top: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-image{
    width: 15rem;
    height: 15rem;
}
.footer-text{
    margin: 0 auto;
}
.footer-text .footer-text-contacts{
    padding: 2rem 0;
} 
.footer-text-contacts a{
    text-decoration: none;
    color: white;
}
.footer-text-contacts h5 a:hover{
    color: #ff0000;
}
.footer-text h6{
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.footer-text p{
    font-size: 12px;
}
@media (max-width: 525px){
    .hero-image{
        display: none;
    }
}