.home{
    display: flex;
    flex-direction: column;
}
.home .container{
    padding: 0;
}
.hero{
    margin-top: 5rem;
    background-color: #f5efed;  
}
#home-img{
    width: 100%;
}
#safe-home .keep{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.705);
    margin: 2rem 0  0 2rem;
}
#safe-home .reliable{
    font-size: 50px;
    margin: 4rem 0  0 2rem;
}
#contact-us-today-btn{
    position: relative;
    margin: 15% 0  0 2rem;
}
#contact-us-today-btn button{
    height: 3rem;
    width: 13rem;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #ff0000ea;
    border: none;
    transition: all .3s;
    box-shadow: 4px 4px 15px #ff0000a1;
    margin-bottom: 4rem;
}
#check-circle-icon{
    font-size: 22px;
}
#contact-us-today-btn button:hover{
    box-shadow: 10px 10px 10px #ff0000a6;
}
.container .col-sm-6{
    height: 8rem;
}
.services-cards{
    margin-top: 6rem;
    margin-bottom: 4rem;
}
.container .card-row{
    margin-bottom: 15rem;
}
.cards{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    box-shadow: 5px 5px 5px #000000ab;
    height: 20rem;
    width: 30rem;
    transition: all .3s;
}

.card-text{
    z-index: 1;
    margin: auto;
    font-weight: bold;
    color: white;
    transition: all .4s;
}
.card-color-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s;
}
.cards:hover{
    transform: scale(1.05);
    box-shadow: 12px 15px 15px #000000ab;
}
.cards:hover .card-text{
    color: #ff0000;
}
.cards:hover .card-color-overlay{
    background-color: #000000d7;
}

/* Testimonials box */
.testimonials{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding-bottom: 2rem;
}
.testimonials-title {
    margin: 3rem auto 0;
    max-width: 50rem;
    text-align: center;
}
.all-testimonials {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 3rem;
    width: 100%;
}
.testimonial-card {
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
    padding: 3rem;
    position: relative;
    width: 54rem;
}
.testimonial-card span{
    align-items: center;
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
}
.testimonial-card img{
    width: 100px;
    border-radius: 50%;
}
.testimonial-card h6{
    font-size: 18px;
    font-weight: bolder;
}
.qoute-icon{
    font-size: 50px;
    float:right;
    color: #ff0000;
}
.testimonial-card p{
    padding-top: 3rem;
    padding-right: 2rem;
    font-size: 20px;
    font-weight: 400;
}
@media screen  and (max-width: 1000px){
    .all-testimonials{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        justify-content: center;
    }
    .testimonial-card {
        background-color: #fff;
        box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
        padding: 2rem;
        position: relative;
        max-width: 30rem;
        margin: auto;
    } 
}
@media screen  and (max-width: 600px){
    .testimonial-card {
        width: 85%;
    }
}