nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 4em;
    width: 100%;
    background-color: #f5efed;
    transition: all .5s ease-in-out;
    z-index: 2;
  }
  nav.nav-bar--hidden {
    transform: translateY(-100%);
  }
  .nav-menus{
    margin: auto;
  }
  .nav-menus ul{
    display:flex;
    padding-top: 0.6em;
  }
  .nav-menus li {
    list-style-type: none;
    margin: 0 1rem;
    
  }
  .nav-menus li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .nav-item{
    padding: 0.5rem;
  }
  .nav-linker{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: color 0.1s ease-out 100ms;
  }
  .nav-linker:hover {
    color: rgb(255, 0, 0);
  }
  .active{
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
  }
  .subnav{
    display:flex;
    flex-direction: row;
  }
  .subnav-content {
    display: none;
    position: absolute;
    margin: 0 32vw;
    padding-top: 0;
    left: 0;
    background-color: #f5efed;
    height: fit-content;
    width: fit-content;
    z-index: 2;
  }
  .subnav-content .nav-linker {
    margin: 1.5rem 1.5rem;
    float: left;
    width: fit-content;
    color: #ff0000;
  }
  .subnav-content .nav-linker:hover {
    color: black;
  }
  .subnav:hover .subnav-content {
    display: block;
  }
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    color: #ff0000;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  
  .hamburger:hover {
    background-color: #ffffff;
  }
  
  @media screen and (max-width: 900px) {
    .hamburger {
      display: block;
    }
    .nav-menus ul {
      flex-direction: column;
      position: absolute;
      top: 4em;
      left: 0;
      width: 100%;
      padding: 0;
      height: 75vh;
      background-color: #f5efedef;
      border-top: 1px solid black;
      display: none;
    }
  
    .nav-menus li {
      text-align: center;
      margin: 0;
    }
    .nav-menus li a {
      color: black;
      width: 100%;
      padding: 1rem 0;
    }
    .nav-linker:hover {
      color: rgb(255, 0, 0);
    }
    .nav-menus.expanded ul {
      display: block;
      transition: all .3s;
    }
    .subnav .subnav-content {
      display: block;
    }
    .subnav-content {
      display: none;
      position: absolute;
      margin: 0 0 0 65vw;
      top: 32%;
      left: 0;
      background-color: #f5efed;
      height: fit-content;
      width: fit-content;
      z-index: 2;
      transition: all .5s ease-in-out;
    }
    .subnav-content .nav-linker {
      margin: 0 1rem;
      float: left;
      width: fit-content;
      color: #ff0000;
    }
  }